.friend-container {
    text-align: justify;
    padding: 35px;
    font-size: large;
    border: 1px solid black;
    width: 530px;
}

.last-clicked {
    background-color: limegreen;
}

.chat-container {
    background-color: lightgray;
    margin-top: -194px;
    margin-left: 530px;
    width: 990px;
    height: 550px;
    .text-container {
        resize: none;
        margin-top: 450px;
        width: 900px;
        height: 100px;
        margin-right: 400px;
        display: inline-block;
    }
    input {
        display: block;
        width: 85px;
        height: 100px;
        margin-top: -105px;
        margin-left: 900px;
    }
}