.friend-container {
    text-align: justify;
    padding: 35px;
    font-size: large;
    border: 1px solid black;
    width: 530px;
    margin-right: initial;
}

.last-clicked {
    background-color: limegreen;
}

// .chat-container {
//     background-color: lightgray;
//     overflow-y: auto;
//     overflow-x:hidden;
//     margin-top: -310px;
//     margin-left: 530px;
//     width: 990px;
//     height: 550px;
//     .text-container {
//         resize: none;
//         // margin-top: 250px;
//         width: 800px;
//         height: 100px;
//         margin-right: 200px;
//         display: inline-block;
//     }
//     input {
//         display: block;
//         width: 85px;
//         height: 100px;
//         margin-top: -105px;
//         margin-left: 800px;
//     }
// }