.message {
    background-color: cadetblue;
    margin-top: 20px;
    margin: 20px;
    width: 400px;
    height: 40px;
    text-align: start;
    border-radius: 25px;
    p{
        padding: 10px;
    }
}

.sending{
    margin-left: 570px;
    text-align: end;
    background-color: darkslateblue;
}