.message {
     font-family: 'Times New Roman', Times, serif;    
    font-weight: lighter;
    background-color: khaki;
    border-radius: 25px; 
    box-sizing: content-box;
    display: inline-block; 
    margin: 5px 50px 5px 50px; 
    text-align: start;
    word-break: break-word;
    height:auto;
    width: auto;
    min-width: none;
    min-height:35px;
}

.sending{
     background-color: greenyellow; 
     text-align: end; 
}

.last{
    margin-bottom: 60px;
}

.not-last{
    margin-bottom: none;

}