.scroller{
    overflow-x: hidden;
}

.chat-container{
    border: solid 1px black;
    height: 74vh;
}

.messages {
    position: relative;
    justify-content: end;
    bottom: 0;
}

.form{
    position: absolute; 
    bottom: 0;
    width: 95%;
    word-break: break-word;
}