.auth-container {
    margin-top: 50px;
}

.auth-form {
    margin: 30px;
    display: inline-block;
}

.isRegister{
    margin-top: 30px;
    display: table;
    margin-left: 35%;
    font-size: larger;
    cursor: pointer;
}