.header {
    background-color: brown;
    padding: 15px;
    padding-bottom: 5vh;
    .header-child{
        float: left;
        margin-left: 12%;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
    .used-link {
        color: azure;
    }
}